{% extends 'flatpages/default.html' %}

{% load custom_filters %}
 
{% block title %} Post list {% endblock title %}
 
{% block content %}
<table>
    <tr>
        <td>
            Автор
        </td>
        <td>
            Время добавления
        </td>
        <td>
            Категория
        </td>
        <td>
            Заголовок
        </td>
        <td>
            Текст
        </td>
        <td>
            рейтинг
        </td>
    </tr>

    <tr>
        <td>
            {{ post.authors.users }}
        </td>
        <td>
            {{ post.time_in }}
        </td>
        <td>
            {{ post.categories.name_category }}
        </td>
        <td>
            {{ post.header }}
        </td>
        <td>
            {{ post.text|censor }}
        </td>
        <td>
            {{ post.rating_post }}
        </td>
        <td>
            {% if is_not_subscribe %}
            <!--GET запрос, который передает в наше представление значение категории, переменная post.category.id, -->
            <!--которая в дальнейшем необходима для добавления подписчиков-->
            <button><a href="add_subscribe/?pk={{ post.categories.id }}">Подписаться</a></button>
            {% endif %}

            {% if is_subscribe %}
            <button><a href="del_subscribe/?pk={{ post.categories.id }}">Отписаться</a></button>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock content %}