{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
news
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now }}</h3>
    <h3> {{ posts|length }} {{' статей'}} </h3>
    <hr>
<div style="text-align: center;">
    {% if posts %}
    {% load cache %}
    {% cache 60 sidebar %}
        <table class="table_with_text_on_center" border="1" style="display: inline-block;">
            <tr>
                <td>
                    Автор
                </td>
                <td>
                    Время добавления
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Текст
                </td>
                <td>
                    рейтинг
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.authors.users }}
                </td>
                <td>
                    {{ post.time_in }}
                </td>
                <td>

                        {{ post.categories.name_category }}

                </td>
                <td>
                    {{ post.header }}
                </td>
                <td>
                    {{ post.text|truncatechars:50|censor }}
                </td>
                <td>
                    {{ post.rating_post }}
                </td>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.header }}</a>
                    <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>

                    <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>
                </td>
            </tr>
        {% endfor %}
    {% endcache %}
        </table>
        <br>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    <a href="{% url 'post_create' %}">Добавить новую новость</a> <br>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
</div>
{% endblock content %}
