<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}


<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
            <tr>
                <td>
                    {{ post.authors.users }}
                </td>
                <td>
                    {{ post.time_in }}
                </td>
                <td>
                    {% for i in post.categories.all %}
                        {{ i }}
                    {% endfor %}
                </td>
                <td>
                    {{ post.header }}
                </td>
                <td>
                    {{ post.text|censor|truncatechars:50 }}
                </td>
                <td>
                    {{ post.rating_post }}
                </td>
                <td>
                    {{ post.paper_news }}
                </td>
                <td>
                    {% if is_not_subscribe %}
                    <!--GET запрос, который передает в наше представление значение категории, переменная post.category.id, -->
                    <!--которая в дальнейшем необходима для добавления подписчиков-->
                    <button><a href="add_subscribe/?pk={{ post.categories.id }}">ПодПиска :)</a></button>
                    {% endif %}

                    {% if is_subscribe %}
                    <button><a href="del_subscribe/?pk={{ post.categories.id }}">ОтПиска :)</a></button>
                    {% endif %}
                </td>
            </tr>
{% endblock content %}