{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
news
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now }}</h3>
    <h3> {{ posts|length }} {{' статей'}} </h3>
    <hr>
    {% if posts %}
        <table>
            <tr>
                <td>
                    Автор
                </td>
                <td>
                    Время добавления
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Текст
                </td>
                <td>
                    рейтинг
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.authors.users }}
                </td>
                <td>
                    {{ post.time_in }}
                </td>
                <td>
                    {% for i in post.categories.all %}
                        {{ i }}
                    {% endfor %}
                </td>
                <td>
                    {{ post.header }}
                </td>
                <td>
                    {{ post.text|censor|truncatechars:50 }}
                </td>
                <td>
                    {{ post.rating_post }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}